/* 

---- 1. General Styles
---- 2. Fonts and Text
---- 3. Header
---- 4. Footer
---- 5. Soundwaves
---- 6. Music Mixer
---- 7. Miniplayer
---- 8. Media Queries for Responsiveness



--- 1. General Styles --- */

.hidden {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #002342;
  color: black;
  background-image: url(../images/bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  height: 100vh;
}

a {
  transition: all .3s ease-in-out;
  text-decoration: none;
}


/* --- 2. Fonts and Text --- */

p {
  font-size: 12px;
  line-height: 22px;
  font-family: "Ubuntu", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", sans-serif;
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


/* --- 3. Header --- */

.nav_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 100%;
  padding: 10px;
  background-color: #002342;
}

.nav_link {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 16px;
}

.nav_link:hover {
  color: #86c7f7;
}

.logo {
  width: 75px;
}

/* --- 4. Footer --- */

footer {
  background-image: linear-gradient(to top, #002342, #0023426d,#00000000);
  padding-top: 25px;
  padding-bottom: 75px;
}

.footer_div {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  color: white;
}

.footer_title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.497);
  padding-bottom: 25px;
}

.footer_info {
  font-size: 14px;
  font-weight: 300;
}

.logo_footer {
  width: 75px;
  background-color: #0023429a;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.45);
  border-radius: 100%;
}


/* --- 5. Soundwaves --- */

.soundwave-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 50vw;
  padding: 15px;
  margin: 40px auto 0;
  border-radius: 50px;
  border: 5px rgba(255, 255, 255, 0.743) groove;
  box-sizing: border-box;
  background-color: #00234288;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.45);
}

.soundwave {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 0 auto;
}

.soundwave div {
  width: 5px;
  height: 30px;
  background: #86c7f7;
  margin: 0 2px;
  animation: sound 0.5s infinite;
}

.soundwave div:nth-child(2) {
  animation-delay: 0.1s;
}

.soundwave div:nth-child(3) {
  animation-delay: 0.2s;
}

.soundwave div:nth-child(4) {
  animation-delay: 0.3s;
}

.soundwave div:nth-child(5) {
  animation-delay: 0.4s;
}

@keyframes sound {
  0% {
    height: 30%;
  }
  50% {
    height: 70%;
  }
  100% {
    height: 30%;
  }
}

/* --- 6. Music Mixer --- */

.main_board {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.play_board {
  height: 100px;
  width: 800px;
  padding: 0px;
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 0 auto;
}

.play_board2 {
  height: 175px;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  margin: 25px auto 0;
}

.drag_Box {
  height: 100px;
  width: 100px;
  border: 3px solid white;
  background-color: #002342c3;
  border-radius: 100%;
  transition: 0.5s;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.45);
  padding: 40px;
  justify-content: center;
  transform: rotateX(45deg);
  margin-top: 20px;
}

.drag_Box img {
  margin-left: -11px;
  margin-top: -11px;
  border-radius: 50% !important;
  transition: 0.5s;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.45) !important;
  height: 125px !important;
  width: 125px !important;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



#icon_Test1, #icon_Test2, #icon_Test3, #icon_Test4, #icon_Test5, #icon_Test6 {
  transition: 0.5s;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.45);
  border-radius: 100px;
  height: 80px;
  width: 80px;
}

#icon_Test1:hover, #icon_Test2:hover, #icon_Test3:hover, #icon_Test4:hover, #icon_Test5:hover, #icon_Test6:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px yellow;
  cursor: pointer;
}

.moving_icons {
  background-color: #86c8f771;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.45);
  margin-top: 50px;
  padding: 25px;
  border-radius: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.icon_holder {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

button#refresh {
  cursor: pointer;
  width: 300px;
  text-align: center;
  padding: 10px 0;
  margin-top: 40px;
  font-size: 16px;
  transition: 0.5s;
  background-color: #86c8f771;
  color: #002342;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.45);
  border-radius: 50px;
}

button#refresh:hover {
  background-color: #86c7f7;
  box-shadow: 0 0 15px #002342;
  color: #002342;
}

.instructions {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 16px;
  border-radius: 25px;
  width: 250px;
  background-color: #002342af;
  border: #8cc7f7 ridge 2px;
  color: #86c7f7;
  padding: 25px;
}

.instructions h5 {
  font-weight: 400;
  line-height: 1.75;
}


/* --- 7. Miniplayer --- */

/*  */



/* --- 8. Media Queries for Responsiveness --- */

/* --- Breakpoint 992px --- */

@media (max-width: 972px) {

  .drag_Box {
    height: 70px;
    width: 70px;
  }

  .drag_Box img {
    margin-left: -26px;
    margin-top: -25px;
  }

  .play_board2 {
    height: 150px;
  }
}

/* --- Breakpoint 768px --- */

@media (max-width: 768px) {
  .icon_holder {
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
  }

  .play_board2 {
    height: 140px;
  }
}

/* --- Breakpoint 576px --- */

@media (max-width: 576px) {
  h2 {
    font-size: 20px;
  }

  .drag_Box {
    height: 100px;
    width: 100px;
    padding: 15px;
  }

  .drag_Box img {
    margin-top: -12px;
    margin-left: -12px;
  }

  .play_board {
    gap: 15px;
  }

  .play_board2 {
    gap: 15px;
  }

}
