/* Use this index to guide yourself in our CSS page

---- 1. General Styles
---- 2. Fonts and Text
---- 3. Header
---- 4. Footer
---- 5. Soundwaves
---- 6. Music Mixer
---- 7. Miniplayer
---- 8. Media Queries for Responsiveness
------------- Breakpoint 1200px
------------- Breakpoint 992px
------------- Breakpoint 768px
------------- Breakpoint 576px





--- 1. General Styles --- */

.hidden {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.body_index {
  text-align: center;
  background-color: #002342;
  color: black;
  background-image: url(../images/bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  height: 100vh;
}

.body_miniplayer {
  text-align: center;
  background-color: #002342;
  color: black;
  background-image: url(../images/bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  height: 100vh;
}

a {
  transition: all .3s ease-in-out;
  text-decoration: none;
}



/* --- 2. Fonts and Text --- */

p {
  font-size: 12px;
  line-height: 22px;
  font-family: "Ubuntu", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", sans-serif;
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}


/* --- 3. Header --- */

.nav_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 100%;
  padding: 10px;
  background-color: #002342;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.45);
}

.nav_link {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 16px;
}

.nav_link h4 {
  padding: 10px;
  border-radius: 50px;
}

.nav_link:hover {
  color: #86c7f7;
}

header nav a .link-active {
  background-color: #86c8f742;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.45);
}

.logo {
  width: 75px;
}



/* --- 4. Footer --- */

footer {
  background-image: linear-gradient(to top, #002342, #0023426d,#00000000);
  padding-top: 25px;
  padding-bottom: 75px;
}

.footer_div {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  color: white;
}

.footer_title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.497);
  padding-bottom: 25px;
}

.footer_info {
  font-size: 14px;
  font-weight: 300;
}

.logo_footer {
  width: 75px;
  background-color: #0023429a;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.45);
  border-radius: 100%;
}



/* --- 5. Soundwaves --- */

.soundwave-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 50vw;
  padding: 15px;
  margin: 40px auto 0;
  border-radius: 50px;
  border: 5px rgba(255, 255, 255, 0.743) groove;
  box-sizing: border-box;
  background-color: #00234288;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.45);
}

.soundwave {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 0 auto;
}

.soundwave div {
  width: 5px;
  height: 30px;
  background: #86c7f7;
  margin: 0 2px;
  animation: sound 0.5s infinite;
}

.soundwave div:nth-child(2) {
  animation-delay: 0.1s;
}

.soundwave div:nth-child(3) {
  animation-delay: 0.2s;
}

.soundwave div:nth-child(4) {
  animation-delay: 0.3s;
}

.soundwave div:nth-child(5) {
  animation-delay: 0.4s;
}

@keyframes sound {
  0% {
    height: 30%;
  }
  50% {
    height: 70%;
  }
  100% {
    height: 30%;
  }
}



/* --- 6. Music Mixer --- */

.main_board {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.play_board {
  height: 100px;
  width: 800px;
  padding: 0px;
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 0 auto;
}

.play_board2 {
  height: 175px;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  margin: 25px auto 0;
}

.drag_Box {
  height: 100px;
  width: 100px;
  border: 3px solid white;
  background-color: #002342c3;
  border-radius: 100%;
  transition: 0.5s;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.45);
  padding: 40px;
  justify-content: center;
  transform: rotateX(45deg);
  margin-top: 20px;
}

.drag_Box img {
  margin-left: -13px;
  margin-top: -11px;
  border-radius: 50% !important;
  transition: 0.5s;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.45) !important;
  height: 125px !important;
  width: 125px !important;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#icon_Test1, #icon_Test2, #icon_Test3, #icon_Test4, #icon_Test5, #icon_Test6 {
  transition: 0.5s;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.45);
  border-radius: 100px;
  height: 80px;
  width: 80px;
}

#icon_Test1:hover, #icon_Test2:hover, #icon_Test3:hover, #icon_Test4:hover, #icon_Test5:hover, #icon_Test6:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px yellow;
  cursor: pointer;
}

.moving_icons {
  background-color: #86c8f771;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.45);
  margin-top: 50px;
  padding: 25px;
  border-radius: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.icon_holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.icon_holder img {
  margin: 0;
  margin-left: 5px;
  margin-right: 5px;
}

button#refresh {
  cursor: pointer;
  width: 300px;
  text-align: center;
  padding: 10px 0;
  margin-top: 40px;
  font-size: 16px;
  transition: 0.5s;
  background-color: #86c8f771;
  color: #002342;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.45);
  border-radius: 50px;
}

button#refresh:hover {
  background-color: #86c7f7;
  box-shadow: 0 0 15px #002342;
  color: #002342;
}

.instructions {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 16px;
  border-radius: 25px;
  width: 250px;
  background-color: #002342af;
  border: #8cc7f7 ridge 2px;
  color: #86c7f7;
  padding: 25px;
}

.instructions h5 {
  font-weight: 400;
  line-height: 1.75;
}



/* --- 7. Miniplayer --- */

.div-con {
  display: flex;
  justify-content: center;
  margin-top: 75px;
  margin-bottom: 50px;
}

.container {
  position: relative;
  padding: 10px;
}

.container .song-info {
  background-color: #002342;
  margin: 0 15px;
  padding: 15px 15px 5px 150px;
  border-radius: 15px 15px 0 0;
}

.container .song-info .song-name {
  color: white;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  margin: 3px 0 20px;
  text-align: left;
}

.container .song-info .artist-name {
  color: white;
  font-weight: 300;
  line-height: 22px;
  font-size: 14px;
  text-align: left;
}

.container .song-info .progress-bar {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  cursor: pointer;
}

.container .song-info .progress-bar .fill-bar {
  width: 0;
  height: 6px;
  border-radius: 20px;
  background: #86c7f7;
}

.container .song-info .time {
  font-size: 12px;
  color: #b9b9b9;
  margin: 10px 0;
  text-align: left;
}

.container .disk {
  max-width: 120px;
}

.container .disk .active {
  animation: rotate 3s linear 0s infinite forwards;
}

.container .disk .cover {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 0px;
  left: -15px;
  background: url("images/paramore.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  border: 3px solid #fff;
  border-radius: 50%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.container .disk .circle {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 9%;
  top: 28%;
  background-color: #ffffff5a;
  z-index: 1;
  border-radius: 50%;
}

.container .controls {
  display: flex;
  align-items: center;
  margin-top: -2px;
  justify-content: center;
  gap: 8px;
  background-color: #1a4c79;
  width: 600px;
  height: 100px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

.container .controls #play {
  background-color: #86c7f7;
  color: #1a4c79;
  padding: 17px 20px 18px 20px;
  font-size: 28px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.container .controls #play:hover {
  background: white;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.45);
}

.container .controls i {
  padding: 30px 8px;
  font-size: 35px;
  cursor: pointer;
  color: #86c8f77d;
  transition: all 0.3s ease;
}

.container .controls i:hover {
  color: #fff;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}



/* --- 8. Media Queries for Responsiveness --- */

/* --- Breakpoint 1200px --- */

@media (max-width: 1200px) {
}

/* --- Breakpoint 992px --- */

@media (max-width: 972px) {

  .drag_Box {
    height: 70px;
    width: 70px;
  }

  .drag_Box img {
    margin-left: -28px;
    margin-top: -27px;
  }

  .play_board2 {
    height: 150px;
  }

  .container .song-info {
    padding: 20px 20px 5px 120px;
  }

  .container .disk .cover {
    width: 130px;
    height: 130px;
  }

  .container .disk .circle {
    left: 6%;
    top: 24%;
  }

  .container .controls {
    height: 80px;
  }

  .container .controls i {
    font-size: 30px;
    padding: 20px 8px;
  }

  .container .controls #play {
    padding: 10px 12px 9px 13px;
    font-size: 24px;
  }
}

/* --- Breakpoint 768px --- */

@media (max-width: 768px) {
  .icon_holder {
    flex-wrap: wrap;
    justify-content: center;
  }

  .play_board2 {
    height: 140px;
  }

  .container .song-info {
    padding: 10px 20px 2px 117px;
  }

  .container .disk {
    max-width: 100px;
  }

  .container .disk .cover {
    width: 120px;
    height: 120px;
    top: 5px;
  }
  .container .disk .circle {
    left: 7%;
    top: 26%;
  }

  .container .controls {
    width: 450px;
    height: 70px;
  }

  .container .controls i {
    font-size: 25px;
    padding: 15px 6px;
  }

  .container .controls #play {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .container .song-info {
    padding: 10px 20px 2px 80px;
  }

  .container .disk {
    max-width: 80px;
  }

  .container .disk .cover {
    width: 80px;
    height: 80px;
    top: 25px;
  }
  .container .disk .circle {
    width: 20px;
    height: 20px;
    left: 5%;
    top: 30%;
  }


  .container .controls {
    width: 375px;
    height: 70px;
  }

  .container .controls i {
    font-size: 20px;
    padding: 10px 4px;
  }

  .container .controls #play {
    font-size: 18px;
  }
}

/* --- Breakpoint 576px --- */

@media (max-width: 576px) {
  h2 {
    font-size: 20px;
  }

  .drag_Box {
    height: 100px;
    width: 100px;
    padding: 15px;
  }

  .drag_Box img {
    margin-top: -12px;
    margin-left: -13px;
  }

  .play_board {
    gap: 15px;
  }

  .play_board2 {
    gap: 15px;
  }

  .container .controls {
    width: 360px;
    height: 70px;
  }
}
